.App {
  text-align: center;
}

body {
  background-color: #fafafa;
}

.logo-login {
  width: 300px;
  margin-bottom: 10%;
}

.signup-container {
  display: flex;
  height: 100vh;
}

.about-container {
  background-color: #366f87;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title-container {
  margin: auto;
  width: 60%;
}

.about-title {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.about-text {
  font-size: 30px;
  font-family: "Raleway";
  font-weight: bold;
  text-align: left;
}

.signup-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newlist-container {
  display: flex;
  margin: 150px;
  justify-content: space-around;
}

.newlist-edit-container {
  display: flex;
  justify-content: space-around;
  height: 70%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px -100px 100px;
}

.navbar-logo {
  display: flex;
  width: 20%;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  align-self: center;
}

.footer-container {
  display: flex;
  background-color: #366f87;
  height: 150px;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

.login-card {
  width: 450px;
  height: 600px;
  padding: 16px;
  padding-top: 24px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 1200px) {
  .logo-login {
    width: 270px;
    margin-bottom: 10%;
  }

  .signup-form {
    width: 60%;
  }

  .about-container {
    width: 40%;
  }

  .about-title-container {
    margin: auto;
    width: 60%;
  }

  .about-title {
    font-size: 54px;
  }

  .about-text {
    font-size: 24px;
  }

  .login-card {
    width: 400px;
    height: 550px;
  }
}

@media only screen and (max-width: 900px) {
  .logo-login {
    width: 240px;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .signup-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  .logo-login {
    width: 240px;
    margin-bottom: 10%;
  }

  .signup-form {
    width: 100vw;
  }

  .about-container {
    width: 100vw;
  }

  .about-title-container {
    margin: auto;
    width: 60%;
  }

  .about-title {
    font-size: 54px;
  }

  .about-text {
    font-size: 24px;
  }

  .login-card {
    width: 100vw;
    height: 80vh;
  }
}
