.App {
  text-align: center;
}

body {
  background-color: #fafafa;
}

.logo-login {
  width: 300px;
  margin-left: -100px;
}

.signup-container {
  display: flex;
  height: 100vh;
}

.about-container {
  background-color: #366f87;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}

.about-title {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 10px;
}

.about-text {
  font-size: 30px;
  width: 500px;
  font-family: "Raleway";
  font-weight: bold;
  align-self: flex-start;
  text-align: left;
}

.signup-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newlist-container {
  display: flex;
  margin: 150px;
  justify-content: space-between;
}
